/* 
** Main Layer Name
** ex: z-main, z-shadow
*/

$layers: (
  'main': 1,
  'shadow': -1,
  'overlay': 10,
);

/* 
** Numerical Layer Name
** note: build z-index from 10 to 100
** ex: z-20, z-30
*/

@function buildLayers ($start, $end) {
  $index: $start;
  $layerMap: ();

  @while $index <= $end {
    $map: (
      #{$start}: $start
    );
    $layerMap: map-merge($layerMap, $map);
    $index: $index + 10;
  }

  @return $layerMap;
}

$layersNum: buildLayers(10, 100);
@debug $layersNum;