
/* 
** Text Color Classes
** ex: .text--primary
*/
@each $name, $value in $colors {

  .text--#{$name} {
    color: $value;
  }

  .text-hover--#{$name} {
    &:hover {
      color: $value;
    }
  }
};

/* 
** Background Color Classes
** ex: .bg--primary
*/
@each $name, $value in $colors {
  .bg--#{$name} {
    background-color: $value;
  }

  .bg-hover--#{$name} {
    &:hover {
      background-color: $value;
    }
  }
};

/* 
** Background Gradient Color Classes
** ex: .bg-gradient--primary .bg-gradient-hover--primary
*/
@mixin buildBackgroundGradient ($direction, $name) {

  @each $name, $set in $gradientColorSets {
    $light: map-get($set, 'light');
    $dark: map-get($set, 'dark');
    $default: map-get($set, 'default');

    &--#{$name} {
      background-image: linear-gradient(to $direction, $dark, $light);
      background-color: $default;
    };

    &-hover--#{$name} {
      &:hover {
        background-image: linear-gradient(to $direction, $dark, $light);
        background-color: $default;
      }
    };
  }
};

.bg-gradient {
  @include buildBackgroundGradient(right, 'primary');
}