/* 
** Output directional padding/margin style
** $type: 'padding/margin', $direction: 'top/bottom/left/right' 
*/

@mixin Direction($type, $direction) {
  &0 {
    #{$type}-#{$direction}: 0px !important;
  }

  &15 {
    #{$type}-#{$direction}: 15px;
  }

  &25 {
    #{$type}-#{$direction}: 25px;
  }

  &35 {
    #{$type}-#{$direction}: 35px;
  }
}

/* 
** Output axial padding/margin style
** $type: 'padding/margin', $direction: 'x/y' 
*/

@mixin Axis($type, $axis) {
  @if $axis == x {
    &0 {
      #{$type}: 0px !important;
    }

    &15 {
      #{$type}: 0px 15px;
    }
  
    &25 {
      #{$type}: 0px 25px;
    }
  
    &35 {
      #{$type}: 0px 35px;
    }
  }

  @if $axis == y {
    &0 {
      #{$type}: 0px !important;
    }

    &15 {
      #{$type}: 15px 0px;
    }
  
    &25 {
      #{$type}: 25px 0px;
    }
  
    &35 {
      #{$type}: 35px 0px;
    }
  }
}

/* 
  Margin: Top, Bottom, Left, Right
*/
.mt- {
 @include Direction(margin, top)
}

.mb- {
  @include Direction(margin, bottom)
}

.ml- {
  @include Direction(margin, left)
}

.mr- {
  @include Direction(margin, right)
}

/* 
  Margin: X-Asix, Y-Axis
*/
.mx- {
  @include Axis(margin, x)
}

.my- {
  @include Axis(margin, y)
}


/* 
  Padding: Top, Bottom, Left, Right
*/
.pt- {
  @include Direction(padding, top)
 }
 
.pb- {
  @include Direction(padding, bottom)
}

.pl- {
  @include Direction(padding, left)
}

.pr- {
  @include Direction(padding, right)
}
 
/* 
  Padding: X-Asix, Y-Axis
*/
.px- {
  @include Axis(padding, x)
}

.py- {
  @include Axis(padding, y)
}

/* 
Navbar Padding Fix
*/
.navbar-fix {
  padding-top: 50px;
}



/* 
** Positions
*/

// Absolute Position
.mt-layout-abs {
  position: absolute;
}
// Fixed Postion
.mt-layout-fixed {
  position: fixed;
}



/* 
** Layout
*/

.mt-layout-row {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;

   &-wrap {
     flex-wrap: wrap;
   }

  //  alignment classes
  &.row-center {
    justify-content: center;
    align-items: center;
  }
  &.row-left {
    justify-content: flex-start;
  }
  &.row-right {
    justify-content: flex-end;
  }
}

/* 
** Full Screen
** Note: reuiqred absolute or fixed position
*/
.cover-screen {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}





